[submodule "swerve-template"]
	path = swerve-template
	url = https://github.com/frc2468/swerve-template.git
[submodule "bordeaux"]
	path = bordeaux
	url = https://github.com/frc2468/bordeaux.git
	branch = rebuilt
[submodule "rebuilt-dashboard-2026"]
	path = rebuilt-dashboard-2026
	url = https://github.com/frc2468/rebuilt-dashboard-2026.git
